*

!acerca.py
!app.py
!build_info.py
!central.py
!config.py
!imagenes.py
!interfaz.py
!klavaranto.py
!logger.py
!teclado.py
!telefonista.py
!idiomas.json
!icono.ico
!ProtestRiot-Limpia.ttf
!requirements.txt
!README.md
!.gitignore
